---
import { Icon } from "astro-icon/components";
import type { HomeData } from '@/server/domain/models';
import LayoutWrapper from "../layout/layout-wrapper.astro";
import Button from "../shared/button.astro";

interface Props {
	data: HomeData["heroSection"];
	whatsappNumber: string;
}

const { data, whatsappNumber } = Astro.props;
---

<section
	class="relative z-0 w-full h-[440px] lg:h-[700px] lg:overflow-hidden pt-[60px] lg:pt-[90px] bg-[var(--bg-canvas)]"
>
	<div class="absolute inset-0 opacity-15 lg:opacity-[0.27]">
		<img src={data.bgOverlayUrl} alt="" class="w-full h-full object-cover" />
	</div>

	<LayoutWrapper
		class="relative z-20 h-full flex items-center justify-center lg:justify-between"
	>
		<div class="relative z-20 h-full flex items-center justify-between">
			<div
				class="flex flex-col items-center lg:items-start justify-center gap-5 lg:gap-8 max-w-[341px] lg:max-w-[600px] mx-auto lg:mx-0"
			>
				<span
					class="hidden lg:inline-block px-4 py-2 rounded-[20px] text-center lg:text-left text-white bg-(--brand-accent)/70 text-overline-sm text-[10px] lg:text-xs w-[70%] lg:w-auto"
					>{data.badge}</span
				>

				<h1
					class="font-heading text-[34px] lg:text-[48px] xl:text-[56px] 2xl:text-[64px] font-[500] leading-[1.1] text-center lg:text-left text-[var(--brand-dark)] max-w-[300px] lg:max-w-none"
				>
					{data.title}
				</h1>

				<p
					class="text-center lg:text-left text-[14px] lg:text-[20px] leading-[1.6] lg:leading-[1.7] text-[var(--neutral-600)] lg:text-[var(--brand-dark)] max-w-[300px] lg:max-w-[540px]"
				>
					{data.description}
				</p>

				<div
					class="flex flex-wrap items-center justify-center lg:justify-start gap-3 lg:gap-4"
				>
					<Button
						href={`https://wa.me/${whatsappNumber}`}
						class="gap-2 px-7 lg:px-8 h-[46px] lg:h-auto lg:py-4 rounded-[23px] lg:rounded-[28px] text-sm font-semibold lg:font-bold lg:tracking-[2px] lg:uppercase"
					>
						<Icon name="lucide:message-circle" size={16} />WhatsApp
					</Button>
					<Button
						href="#sobre-nosotros"
						variant="outline"
						class="gap-2 px-7 lg:px-8 h-[46px] lg:h-auto lg:py-4 rounded-[23px] lg:rounded-[28px] text-sm font-medium lg:font-bold lg:tracking-[2px] lg:uppercase"
					>
						Conócenos
					</Button>
				</div>
			</div>
			
		</div>
    <div
				class="relative hidden lg:block z-30 right-0 w-[calc(500/1440*100%)] max-w-[500px] h-[580px]"
			>
				<img
					src={data.heroImageUrl}
					alt=""
					class="w-full h-full object-cover rounded-tl-[120px] rounded-tr-[20px] rounded-br-[120px] rounded-bl-[20px]"
				/>
			</div>
	</LayoutWrapper>

	<!-- <div
		class="absolute hidden lg:block z-30 top-[100px] left-[calc(820/1440*100%)] w-[calc(500/1440*100%)] max-w-[500px] h-[580px]"
	>
		<img
			src={data.heroImageUrl}
			alt=""
			class="w-full h-full object-cover rounded-tl-[120px] rounded-tr-[20px] rounded-br-[120px] rounded-bl-[20px]"
		/>
	</div> -->

	<div
		class="absolute inset-0 bg-gradient-to-b from-[#8A9F86] via-[#9DAF99] via-50% to-[#F7F5F2] opacity-[0.48] hidden lg:block"
	>
	</div>

	<div
		class="absolute inset-0 bg-gradient-to-l from-[#F7F5F2] from-0% via-[#F7F5F2]/88 via-40% to-[#F7F5F2]/0 to-70% hidden lg:block"
	>
	</div>

	<svg
		class="absolute bottom-0 left-0 w-full h-[100px] z-10 hidden lg:block"
		viewBox="0 0 1440 100"
		preserveAspectRatio="none"
		fill="none"
	>
		<path
			d="M0 0 q360 100 720 50 q360 -50 720 10 L1440 100 L0 100 Z"
			class="fill-[var(--bg-canvas)]"></path>
	</svg>
</section>
