---
import type { HomeData } from '@/server/domain/models';
import LayoutWrapper from '../layout/layout-wrapper.astro';
import ServiceCard from '../shared/service-card.astro';
import Text from '../shared/text.astro';

interface Props {
  data: HomeData['services'];
}

const { data } = Astro.props;

const mtOffsets = ['', 'lg:mt-20', '', 'lg:mt-20'];

console.log('🚀 ~ data:', data.service);
---

<section id="servicios" class="bg-gradient-to-b from-[#F7F5F2] via-[#EAE6E0] to-white py-[60px]">
  <LayoutWrapper class="pt4">
    <div class="flex flex-col items-center lg:items-start gap-5 lg:gap-[20px] mb-12">
      <Text size="overline" class="brand-accent-dark">{data.title}</Text>
      <Text size="h2" class="text-center lg:text-left">{data.subtitle}</Text>
    </div>

    <div class="flex flex-wrap items-start gap-6 lg:gap-x-[30px]">
      {
        data.service.map((service, i) => (
          <div class={`w-full lg:w-[calc(25%-22.5px)] ${mtOffsets[i] ?? ''}`}>
            <ServiceCard
              title={service.title}
              description={service.description}
              image={service.cardImage}
              link={service.link}
              alt={i % 2 !== 0}
            />
          </div>
        ))
      }
    </div>
  </LayoutWrapper>
</section>
