---
import { Image } from 'astro:assets';

interface ImageConfig {
  src: string;
  alt: string;
  width: number;
  height: number;
  top: number;
  left: number;
  radius: [number, number, number, number];
}

interface Props {
  class?: string;
  imageA: ImageConfig;
  imageB: ImageConfig;
}

const { imageA, imageB, class: className } = Astro.props;

function imgClasses(img: ImageConfig): string {
  return `absolute top-[${img.top}px] left-[${img.left}px] w-[${img.width}px] h-[${img.height}px]`;
}

function imgRadius(img: ImageConfig): string {
  const [tl, tr, br, bl] = img.radius;
  return `rounded-tl-[${tl}px] rounded-tr-[${tr}px] rounded-br-[${br}px] rounded-bl-[${bl}px]`;
}
---

<div class:list={['relative', 'shrink-0', className]}>
  <div class:list={[imgClasses(imageA), imgRadius(imageA), 'overflow-hidden']}>
    <Image
      src={imageA.src}
      alt={imageA.alt}
      width={imageA.width}
      height={imageA.height}
      class="w-full h-full object-cover"
    />
  </div>
  <div class:list={[imgClasses(imageB), imgRadius(imageB), 'overflow-hidden']}>
    <Image
      src={imageB.src}
      alt={imageB.alt}
      width={imageB.width}
      height={imageB.height}
      class="w-full h-full object-cover"
    />
  </div>
</div>
